.body {
  font-family: sans-serif;
}

.license {
  color: #666;
  font-size: 80%;
  margin-top: 0.5rem;
}

.mainTable {
  border-collapse: collapse;
  border-width: 0.1rem;
  font-size: 1.3rem;
  font-variant-numeric: tabular-nums;
  width: 100%;
}

@media screen {
  .mainTable {
    max-width: 40rem;
  }
}

.mainTd {
  border-width: 0.1rem;
  padding: 0.4rem;
  width: 20%;
}

.seed {
  color: #666;
  font-size: 80%;
  margin-top: 2rem;
}
