.body {
  font-family: sans-serif;
}

.license {
  color: #999;
  font-size: 80%;
  line-height: 1.4;
  margin-top: 1.5rem;
}

.license a {
  color: #99f;
}

.license a:visited {
  color: #c9c;
}

@media print {
  .license a,
  .license a:visited {
    color: #999;
    underline: none;
  }
}

.mainTable {
  border-collapse: collapse;
  font-size: 1.3rem;
  font-variant-numeric: tabular-nums;
  width: 100%;
}

@media screen {
  .mainTable {
    max-width: 40rem;
  }
}

.mainTd {
  border-style: solid;
  border-color: black;
  border-width: 0.07rem;
  padding: 0.4rem;
  width: 20%;
}
